<font size=6>demonstrating-the-power-of-feature-engineering</font>

特征工程在许多机器学习项目中，往往被数据科学家低估了。他们过于急切地跳过这一步，声称他们了解数据。而有时候，使用过于复杂的模型，或者跳过特征工程进行超参优化，往往并不是最好的行动方案。

* https://medium.com/@dave.cote.msc/demonstrating-the-power-of-feature-engineering-part-ii-how-i-beat-xgboost-with-linear-regression-e63aeb6a15f8

# 问题描述

采用Kaggle Insurance数据集，进行个人保险成本的预测。

* 数据集: Kaggle open source dataset “Medical Cost Personal Insurance Forecast"
* 特征数量：7 features
* 样本大小：1338 rows
* 多变量回归问题

# 获取数据

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from warnings import filterwarnings
from time import time
import math
import random

sns.set_style("ticks")
pd.set_option("display.max_rows", 300)
pd.set_option("display.max_columns", None)
pd.set_option('mode.chained_assignment', None)
plt.rcParams["figure.max_open_warning"] = 100
filterwarnings("ignore")
plt.rc("font", family="MicroSoft YaHei")


# 设置随机种子，目的是为了结果可重复
random_state = 42
random.seed(random_state)
np.random.seed(random_state)

In [2]:
dpath = r'.\data\kaggle-insurance.csv'
df = pd.read_csv(dpath)
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

数据信息：

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

**charges**是个人健康保险中的医疗成本，是预测的目标。